/* CONTENT CENTERING */
.content {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    text-align: center;
    color: white;

    z-index: 2;

    padding: 20px;
    box-sizing: border-box;
}

img {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;

    opacity: 1; /* remove fade for now */
}
