body {
    margin: 0;
    height: 100%;
    background: black;
    overflow: hidden;
}

/* image behavior */
img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    /* fade-in setup */
    opacity: 0;
    animation: fadeIn 1.2s ease-in forwards;
}

/* animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}