/* Remove default browser spacing */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* CONTENT CENTERING */
.content {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
    z-index: 2;

    padding: 20px;
    box-sizing: border-box;
}
